.mod-list {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

.mod-list-item {
  margin-bottom: 12px;
}

.mod-title {
  margin-bottom: 8px;
}

.file-list {
  list-style-type: none;
  padding-left: 8px;
  margin-top: 0;
}

.file-list li {
  margin-top: 8px;
}

.include-translations {
  margin-bottom: 12px;
}

.include-translations input {
  margin-right: 8px;
}
