.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  background-color: #fbefd5;
  overflow-x: hidden;
  width: 300px;
  padding: 12px;
  padding-top: 24px;
  border-right: 1px solid #222222;
  font-size: 0.875rem;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    top: initial;
    bottom: 0;
    left: 0;
    height: 45%;
    width: 100%;
    border-right: none;
    border-top: 1px solid #222222;
  }
}

.sidebar-header {
  position: sticky;
  top: 0px;
  width: 100%;
}

.close {
  position: absolute;
  display: block;
  top: 0px;
  right: 0px;
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
  margin-top: -16px;
}

.close:hover {
  color: #888888;
}

.cell-name-header {
  line-height: 1.75rem;
  word-wrap: break-word;
}
